<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscar( termino.value )" class="form-control" placeholder="Ingrese palabra de búsqueda" maxlength="100" name="" id="">
    </div>
</div>


<div class="card-columns mt-5">
    <div *ngFor="let imagen of imagenes" class="card">
        <img [src]="imagen.webformatURL" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><span class="badge badge-primary">{{ imagen.tags }}</span></h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <button type="button" class="btn btn-success"> Likes - {{ imagen.likes }}</button>
            <span class="badge badge-warning ">Views: {{ imagen.views }}</span>
        </div>
    </div>
</div>